<p [hidden]="isHidden">
  <a (click)="handleClick()" tooltip tooltip-title="Mein Tooltip :)!">{{title | shoutPipe:"Titel: ":"!!!"}}</a> works!
</p>

<div *ngFor="let book of books" (click)="navigateTo(book.isbn)">
  <h3>{{book.title}}</h3>
  <small>{{book.author}} ({{book.isbn}})</small>
</div>

<br>

<b>AsyncPipe</b>
<div *ngFor="let book of booksObservable | async">
  <h3>{{book.title}}</h3>
  <small>{{book.author}} ({{book.isbn}})</small>
</div>
<br>
<button (click)="isHidden=!isHidden">Show and Hide</button>

<!--<div style="height: 400px; width: 400px; border: 1px solid" (mousemove)="x=$event.clientX; y=$event.clientY;"></div>-->
<div style="height: 400px; width: 400px; border: 1px solid" (mousemove)="mouseMoveHandle($event)"></div>
<small>x: {{x}}, y: {{y}}</small>